<!DOCTYPE html>
<html class="js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths Mac">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Compass</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="shortcut icon" href="http://www.compass.com/favicon.ico">
    <link rel="apple-touch-icon" href="http://www.compass.com/apple-touch-icon.png">
    <link href="./landing/frontend.css" media="screen" rel="stylesheet">

    <script async="" src="./landing/analytics.js"></script>
    <script src="./landing/modernizr.js"></script>
</head>
<body>
<nav id="sidenav">
    <span id="sidenav_toggle" class="trigger"></span>
    <div id="sidenav_holder">
        <table id="sidenav_sections">
            <tbody>
            <tr class="section_header">
                <td id="sidenav_header">
                    <span id="sidenav_close"></span>
                </td>
            </tr>
            <tr class="sidenav_spacer">
                <td></td>
            </tr>
            <tr class="section_menu">
                <td id="sidenav_menu">
                    <a class="menu_link active" href="#nav_0">Start now</a>
                    <a class="menu_link" href="#nav_1">About Compass</a>
                    <a class="menu_link" href="#nav_2">Interface</a>
                    <a class="menu_link" href="#nav_3">Features</a>
                    <a class="menu_link" href="#nav_4">Stay in touch</a>
                    <a class="menu_link-out" href="http://www.compass.com/inspiration"><span class="translation_missing"
                                                                                             title="translation missing: en.microsite.section_menu.magazine">Magazine</span></a>
                </td>
            </tr>
            <tr class="sidenav_spacer">
                <td></td>
            </tr>
            <tr class="section_social">
                <td id="sidenav_social">
                    <a target="_blank" class="social_link" id="social_link--facebook" href=""></a>
                    <a target="_blank" class="social_link" id="social_link--twitter" href=""></a>
                </td>
            </tr>
            <tr class="section_footer">
                <td id="sidenav_footer">
                    <a href="http://madeo.cz/" target="_blank" class="footer_link">made by <b>madeo</b></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</nav>
<div id="sign_links">
    <a href="/app" target="_blank" class="sign_link">Student start</a>
    <a href="/adm" target="_blank" class="sign_link">University apply</a>
</div>
<div id="loading" style="display: none;">
    <img alt="Loading" id="loading_img" src="./landing/loading.png">
</div>
<div id="main_sections">
    <div id="timeline">
        <a class="timeline-point active" href="#nav_0"></a>
        <a class="timeline-point" href="#nav_1"></a>
        <a class="timeline-point" href="#nav_2"></a>
        <a class="timeline-point" href="#nav_3"></a>
        <a class="timeline-point" href="#nav_4"></a>
    </div>
    <div id="section_slides-holder" style="background-color: rgb(168, 203, 213);">
        <div id="section_slides" style="top: 0;">
            <section id="intro-slide--anims" class="table_holder preload">
                <div class="cell_holder">
                    <div id="intro-anims_holder" class="intro-slide">
                        <div id="intro-anims">
                            <img alt="Cloud1" class="intro-anim trigger" id="intro_anim--cloud1"
                                 src="./landing/cloud1.png">
                            <div class="intro-anim trigger" id="intro_anim--grounds_holder">
                                <img alt="Ground1" id="intro_anim--ground1" src="./landing/Untitled-2.png">
                            </div>
                            <img alt="Cloud2" class="intro-anim trigger" id="intro_anim--cloud2"
                                 src="./landing/cloud2.png">
                            <img alt="Balloon" class="intro-anim trigger" id="intro_anim--balloon"
                                 src="./landing/balloon.png">
                            <div class="intro_text wrap-letters" id="intro_text--be" data-wrapclass="intro_text-letter"
                                 style="font-size: 65px;"></div>
                            <div class="intro_text wrap-letters" id="intro_text--visionare"
                                 data-wrapclass="intro_text-letter" style="font-size: 88px;"></div>
                        </div>
                        <p id="intro_slide-desc" class="trigger">Take this quiz to find out which course might be best
                            for you</p>
                    </div>
                </div>
            </section>
            <section id="intro-slide--hotdog" class="table_holder">
                <div class="cell_holder">
                    <div id="intro-hotdog_holder" class="intro-slide">
                        <div id="hotdog">
                            <div style="height: 300px;">
                                <img alt="Hotdog body" src="./landing/ball.png" style="left: 170px; top: -50px;">
                                <img alt="Hotdog body" src="./landing/mouse.png" style="top: 50px; left: 100px;">
                                <img alt="Hotdog body" src="./landing/book.png" style="top: -40px; left: 20px;">
                                <img alt="Hotdog body" src="./landing/rocket.png" style="top: 150px; left: -10px;">
                                <img alt="Hotdog body" src="./landing/chemia.png" style="top: 170px; left: 150px;">
                            </div>
                        </div>
                        <div class="hotdog-text" id="hotdog-dontbe" style="font-size: 42.0382px;">Not sure what to
                            study?
                        </div>
                        <div class="hotdog-text wrap-letters" id="hotdog-loser" data-wrapclass="hotdog-text_letter"
                             style="font-size: 100.61px;">
                            <div class="hotdog-text" id="hotdog-desc">
                                Is your favourite subject economics or mathematics? Or are you into the arts?
                            </div>
                        </div>
                    </div>
            </section>
            <section id="features" class="table_holder">
                <div class="cell_holder">
                    <h2 class="section_title">compass Features</h2>
                    <br>
                    <h3 class="section_subtitle">Are you excited?</h3>
                    <br>
                    <div id="circles">
                        <div class="circle-item">
                            <img alt="Circle user" class="circle-icon"
                                 src="./landing/circle-user.png">
                            <h4 class="circle-title">Personalized content</h4>
                            <p class="circle-content">
                                Choosing from the variety of circles such as art and career allows us to narrow down
                                what’s important to you!
                            </p>
                        </div>
                        <div class="circles-split"></div>
                        <div class="circle-item">
                            <img alt="Circle dream" class="circle-icon"
                                 src="./landing/circle-dream.png">
                            <h4 class="circle-title">Easy to make Dream list</h4>
                            <p class="circle-content">
                                Establishing your goals has never been easier. All your dreams are accessible in the
                                palm of your hand.
                            </p>
                        </div>
                        <div class="circles-split"></div>
                        <div class="circle-item">
                            <img alt="Circle step" class="circle-icon"
                                 src="./landing/circle-step.png">
                            <h4 class="circle-title">Step by Step Templates</h4>
                            <p class="circle-content">
                                Templates are your very own personal guides to your dreams. Follow those that are
                                already there and draw from their experience!
                            </p>
                        </div>
                        <div class="circles-split"></div>
                        <div class="circle-item">
                            <img alt="Circle magazine" class="circle-icon"
                                 src="./landing/circle-magazine.png">
                            <h4 class="circle-title">Enriching Magazine</h4>
                            <p class="circle-content">
                                Magazine is the ideal place to collect tools and knowledge to set you on the right path
                                on your journey.
                            </p>
                        </div>
                        <div class="circles-split"></div>
                        <div class="circle-item">
                            <img alt="Circle community" class="circle-icon"
                                 src="./landing/circle-community.png">
                            <h4 class="circle-title">Helping community</h4>
                            <p class="circle-content">
                                Keep track of your progress on your timeline and motivate your friends to improve.
                            </p>
                        </div>
                        <div class="circles-split"></div>
                        <div class="circle-item">
                            <img alt="Circle friend" class="circle-icon"
                                 src="./landing/circle-friend.png">
                            <h4 class="circle-title">Smart Friend Suggestion</h4>
                            <p class="circle-content">
                                People around us shape our character. Connect with those who share your goals and push
                                on even further.
                            </p>
                        </div>
                        <div id="circles-slides"></div>
                        <div id="circles-slides_points">
                            <span class="circles-slides_point"></span>
                        </div>
                    </div>
                </div>
            </section>
            <section id="intro-slide--apps" class="table_holder">
                <div class="cell_holder">
                    <div id="intro-apps_holder" class="intro-slide">
                        <img alt="Devices" id="apps-devices"
                             src="./landing/compass.png">
                        <div class="apps-text" id="apps-start" style="font-size: 38.0952px;">Start using our</div>
                        <div class="apps-text wrap-letters" id="apps-apps" data-wrapclass="apps-text_letter"
                             style="font-size: 95.0119px;">
                            <div class="apps-text_letter">a</div>
                            <div class="apps-text_letter">p</div>
                            <div class="apps-text_letter">p</div>
                            <div class="apps-text_letter">s</div>
                        </div>
                        <div class="apps-text" id="apps-desc">We can help you explore the possibilities. Skip down to
                            browse our definitive subject guides, packed with information on careers, entry requirements
                            and more. Or, try our tool for degree subject suggestions based on what you're currently
                            studying.
                        </div>
                    </div>
                </div>
            </section>
            <section id="intro-slide--awesome" class="table_holder">
                <div class="cell_holder">
                    <div id="intro-awesome_holder" class="intro-slide">
                        <img alt="Sun" class="awesome-sun" id="awesome-sun1"
                             src="./landing/sun.png">
                        <img alt="Sun" class="awesome-sun" id="awesome-sun2"
                             src="./landing/sun.png">
                        <img alt="Jindra" id="awsome-guy"
                             src="./landing/jindra.png">
                        <div class="awesome-text" id="awesome-be" style="font-size: 61.9718px;">be</div>
                        <div class="awesome-text wrap-letters" id="awesome-awesome" data-wrapclass="awesome-text_letter"
                             style="font-size: 94.2857px;">
                            <div class="awesome-text_letter">a</div>
                            <div class="awesome-text_letter">w</div>
                            <div class="awesome-text_letter">e</div>
                            <div class="awesome-text_letter">s</div>
                            <div class="awesome-text_letter">o</div>
                            <div class="awesome-text_letter">m</div>
                            <div class="awesome-text_letter">e</div>
                        </div>
                        <div class="awesome-text" id="awesome-desc">Reach up, reach high. Your dreams are waiting...
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <img alt="compass" id="intro-preview" src="./landing/compass.png">
        <p id="intro-preview_desc">Establish your goals. Connect with people who share similar dreams. Learn from those
            who are already there.</p>
    </div>
    <div id="section_views-holder" style="top: 100%;">
        <div id="section_views">
            <section id="lookinside" class="table_holder">
                <div class="cell_holder">
                    <h2 class="section_title">Look inside</h2>
                    <!--<br/>
                    <h3 class="section_subtitle">Mobile</h3> -->
                    <br>
                    <img alt="Look inside" id="lookinside-preview"
                         src="./landing/look_inside.png">
                    <div>
                        <div id="lookinside_cols">
                            <div class="lookinside_col text-right">
                                <h3 class="lookinside_title">Dreams</h3>
                                <p class="lookinside_content">
                                    Place where you can write down your dreams. Divide them into achiavable steps or use
                                    a premade template already divided into simple “to-do’s” by a person who achieved
                                    given goal.
                                </p>
                                <h3 class="lookinside_title">Timeline</h3>
                                <p class="lookinside_content">
                                    Much like in other media, our timeline allows you to communicate with other users
                                    and share your experiences and progress.
                                </p>
                            </div>
                            <div id="lookinside-hands">
                                <img alt="Illustration hand" class="lookinside-hand" id="lookinside-hand--main"
                                     src="./landing/illustration_hand.png">
                                <img alt="Illustration hand2" class="lookinside-hand" id="lookinside-hand--finger"
                                     src="./landing/illustration_hand2.png">
                                <img alt="Illustration hand3" class="lookinside-hand" id="lookinside-hand--motion"
                                     src="./landing/illustration_hand3.png">
                                <div id="lookinside-slider">
                                    <div id="lookinside-slides">
                                        <img alt="Design1" class="lookinside-slide trigger"
                                             src="./landing/design1.png">
                                        <img alt="Design2" class="lookinside-slide"
                                             src="./landing/design2.png">
                                        <img alt="Design3" class="lookinside-slide"
                                             src="./landing/design3.png">
                                    </div>
                                </div>
                            </div>
                            <div class="lookinside_col text-left">
                                <h3 class="lookinside_title">Magazine</h3>
                                <p class="lookinside_content">
                                    Some of your goals may require a deeper knowledge of the area in which you want to
                                    improve yourself. That is why we proudly introduce our magazine filled with content
                                    that helps you achieve your dreams.
                                </p>
                                <h3 class="lookinside_title">Profile</h3>
                                <p class="lookinside_content">
                                    In your profile you will find your personal settings and tools that will help you
                                    connect with other users who share the same goals and dreams.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div id="awwwards" class="left white">
    <a href="http://www.awwwards.com/web-design-awards/compass" target="_blank">the best websites of the world</a>
</div>
<script src="./landing/frontend.js"></script>
</body>
</html>