<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=500" />

    <title>Compass</title>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic|Josefin+Slab:400,700italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/landing/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="/landing/css/scrollmagic.css" type="text/css">
    <link rel="stylesheet" href="/landing/css/custom.css" type="text/css">

    <script type="text/javascript" src="/landing/js/jquery.min.js"></script>
    <script type="text/javascript" src="/landing/js/highlight.pack.js"></script>
    <script type="text/javascript" src="/landing/js/modernizr.custom.min.js"></script>
    <script type="text/javascript" src="/landing/js/ScrollMagic.min.js"></script>
</head>

<body>
<div id="content-wrapper">
    <div id="slides-wrapper">
        <div class="scrollContent">
            <section id="section-wipes">
                <section class="panel" id="slide1">
                    <a class="start-client" href="/app/">Student start</a>

                    <div class="baloon-wrapper">
                        <img src="/landing/img/balloon.png" alt="" class="baloon">
                    </div>

                    <div class="cloud-left-wrapper">
                        <img src="/landing/img/cloud1.png" alt="" class="cloud-left">
                    </div>

                    <div class="cloud-right-wrapper">
                        <img src="/landing/img/cloud2.png" alt="" class="cloud-right">
                    </div>

                    <div class="logo-wrapper">
                        <img src="/landing/img/logo.png" alt="" class="logo">
                        <div class="subtitle">Take the quiz and find out which course might be best for you!</div>
                    </div>
                </section>

                <section class="panel" id="slide2">
                    <div class="row">
                        <div class="col-6">
                            <div class="wrapper">
                                <div class="row">
                                    <img src="/landing/img/ball.png" alt="" class="subject subject-1">
                                    <img src="/landing/img/book.png" alt="" class="subject subject-2">
                                </div>
                                <div class="row">
                                    <img src="/landing/img/chemia.png" alt="" class="subject subject-3">
                                    <img src="/landing/img/mouse.png" alt="" class="subject subject-4">
                                    <img src="/landing/img/rocket.png" alt="" class="subject subject-5">
                                </div>
                                <div class="row">
                                    <img src="/landing/img/draw.png" alt="" class="subject subject-1">
                                    <img src="/landing/img/vegetables.png" alt="" class="subject subject-2">
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="wrapper">
                                <div class="row title">
                                    Not sure what to study?
                                </div>

                                <div class="row subtitle">
                                    Is your favorite subject economics or maths? Or maybe you are into the arts?
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="panel" id="slide3">
                    <div class="row">
                        <div class="title-1">
                            <em>Compass</em> features
                        </div>
                    </div>

                    <div class="row">
                        <div class="title-2">Student</div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <div class="image">
                                <img src="/landing/img/circle-user.png" alt="">
                            </div>

                            <div class="subtitle">
                                <div class="subtitle-1">Answer a few questions</div>
                                <div class="subtitle-2">Our career specialists created a sophisticated questionnaire to help you choose your major.</div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="image">
                                <img src="/landing/img/circle-dream.png" alt="">
                            </div>

                            <div class="subtitle">
                                <div class="subtitle-1">Get personalized results</div>
                                <div class="subtitle-2">See which major is a good fit for YOU, not a group of people who like Math.</div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="image">
                                <img src="/landing/img/circle-step.png" alt="">
                            </div>

                            <div class="subtitle">
                                <div class="subtitle-1">Share</div>
                                <div class="subtitle-2">Found your match? Spread the word and help your friends find theirs!</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="title-2">University</div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <div class="image">
                                <img src="/landing/img/circle-magazine.png" alt="">
                            </div>

                            <div class="subtitle">
                                <div class="subtitle-1">Advertise wisely</div>
                                <div class="subtitle-2">Reach out directly to your target. Newspaper ads will not do the job.</div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="image">
                                <img src="/landing/img/circle-community.png" alt="">
                            </div>

                            <div class="subtitle">
                                <div class="subtitle-1">Find the best and brightest</div>
                                <div class="subtitle-2">Make sure you recruit students that will thrive in your institution.</div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="image">
                                <img src="/landing/img/circle-friend.png" alt="">
                            </div>

                            <div class="subtitle">
                                <div class="subtitle-1">Get professional assistance</div>
                                <div class="subtitle-2">You do not need to create questionnaires. We will do that for you - let's have a chat!</div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="panel" id="slide4">
                    <div class="row">
                        <div class="col-6">
                            <div class="title">Start using our app right now!</div>
                        </div>

                        <div class="col-6">
                            <div class="banner">
                                <a href="/app/"><img src="/landing/img/different-devices.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </div>
</div>
<script>
    $(function() { // wait for document ready
        // init
        var controller = new ScrollMagic.Controller({
            globalSceneOptions: {
                triggerHook: 'onLeave'
            }
        });

        // get all slides
        var slides = document.querySelectorAll("section.panel");

        // create scene for every slide
        for (var i = 0; i < slides.length; i++) {
            new ScrollMagic.Scene({
                triggerElement: slides[i]
            })
                    .setPin(slides[i])
                    // .addIndicators() // add indicators (requires plugin)
                    .addTo(controller);
        }

        $('body').addClass('animate');
    });
</script>
</body>

</html>
