@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    margin: 0;
    font-family: 'Roboto';
}

#app {
    height: 100vh;
}

.container {
    margin: 20px;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.fill-parent {
    flex-grow: 1;
}

.vcenter {
    justify-content: center;
}

.hcenter {
    align-items: center;
}

.questionnaire {
    display: flex;
    flex-grow: 1;
    margin-top: 40px;
}

.questionnaire>.col {
    justify-content: space-between;
}

.question:nth-child(1) {
    margin: 0 0 10px;
}

.question {
    padding: 15px 15px 20px;
    margin: 10px 0;
}

.question img {
    max-height: 35vh;
}

.bottom-button {
    margin-top: 20px;
}

.material-icons.md-light {
    color: #fff;
}

.sidebar-item.avatar {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 10px 10px 10px;
}

.sidebar-item.avatar .title {
    font-weight: bold;
    line-height: 25px;
    margin-top: 15px;
}

.sidebar-item.avatar .subtitle {
    line-height: 25px;
}

.sidebar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar-item i {
    margin: 0 10px;
}

.material-icons {
    vertical-align: middle;
}

.margin-top {
    margin-top: 20px;
}

.margin-left {
    margin-left: 10px;
}

.course-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.course-list-item {
    display: flex;
}

.welcome-card {
    padding: 10px;
}

.welcome-card .text {
    font-size: 16px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  content: "star_border";
  display: inline-block;
  padding: 10px 0;
}

.rating > i {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.rating > i:hover:before,
.rating > i.selected:hover:before {
    content: "star_half";
    position: absolute;
}

.rating > i.selected:before,
.rating > i.selected ~ i:before,
.rating > i:hover ~ i:before {
   content: "star";
   position: absolute;
}
